.timeanddate {
    margin: 7%;
    font-size: 3em;
}

.weather {
    margin-right: 10%;
    font-size: 3em;
}

button {
    margin-left: 9%;
    font-size: 1em;
}

.header {
    padding: 40px;
}

.btn2 {
    margin-left: 2%;
}

table {
    width: 40%;
}

#table2 {
    float: right;
    margin-top: -64px;
    margin-right: 56px;
}

.over {
    margin: 44%;
    font-size: 3em;
}

.under {
    margin-left: 14%;
    font-size: 3em;
}

td {
    text-align: center;
}
